{{define "footer"}}
<footer class="ampstart-footer flex flex-column items-center p3">
    <a href="https://github.com/ancientlore/whisper" alt="whisper" target="_blank"><img src="/static/dog.png" width="41" height="51"/></a> Copyright &copy; 2019-2020 Michael D. Lore
</footer>
<amp-analytics type="gtag" data-credentials="include">
<script type="application/json">
{
  "vars" : {
    "gtag_id": "UA-XXXXXX-X",
    "config" : {
      "UA-XXXXXX-X": {
        "groups": "default"
      }
    }
  }
}
</script>
</amp-analytics>
</body>
</html>
{{end}}
