{{define "home"}}
{{template "header" .}}
<div class="content">
    {{.Content}}
    <hr/>
    <h3>Latest Article</h3>
    {{ $p := dir "/articles"}}{{if len $p}}{{with index $p 0}}
    <h3><a href="{{join "/articles" .Filename}}">{{.FrontMatter.Title}}</a></h3>
    <p>{{.FrontMatter.Date.Format "Monday, Jan 2 2006"}}</p><br/>
    {{join "/articles" .Filename | markdown}}
    {{end}}
    {{end}}
    <hr/>
    <h3>Latest Photo</h3>
    {{ $p := filter (sortbyname (dir "/photos")) "*.png" "*.jpg" "*.gif"}}{{if len $p}}{{with index $p 0}}
    <amp-carousel id="carousel"
        width="620"
        height="400"
        layout="intrinsic"
        type="slides">
        <amp-img src="{{join "/photos" .Filename}}"
            width="620"
            height="400"
            layout="intrinsic"
            alt="{{.FrontMatter.Title}}"></amp-img>
    </amp-carousel>
    {{end}}
    {{end}}
</div>
{{template "footer" .}}
{{end}}