{{define "default"}}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.FrontMatter.Title}}</title>
	</head>
	<body>
		{{.Content}}
		<hr/>
		<ul>{{ $p := .Page.Path}}{{range sortbyname (dir .Page.Path)}}
			<li><a href="{{join $p .Filename}}">{{if eq ".md" (ext .Filename)}}{{.FrontMatter.Title}}{{else}}{{.Filename}}{{end}}</a> {{.FrontMatter.Date.String}}</li>
		{{end}}</ul>
		<hr/>
		<a href="/">Home</a>
	</body>
</html>
{{end}}{{define "image"}}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.FrontMatter.Title}}</title>
	</head>
	<body>		
		{{.Content}}
		<hr/>
		<h3>{{.FrontMatter.Title}}</h1>
		<img src="{{join .Page.Path .Page.Filename}}" alt="{{.FrontMatter.Title}}"/>
		<hr/>
		<ul>{{ $p := .Page.Path}}{{range sortbyname (dir .Page.Path)}}
			<li><a href="{{join $p .Filename}}">{{if eq ".md" (ext .Filename)}}{{.FrontMatter.Title}}{{else}}{{.Filename}}{{end}}</a> {{.FrontMatter.Date.String}}</li>
		{{end}}</ul>
		<hr/>
		<a href="/">Home</a>
	</body>
</html>
{{end}}